html {
  @apply bg-gray-900 transition text-gray-100 duration-200 scroll-smooth;
}

::selection {
  @apply bg-villa-green-600 text-gray-100;
}

a {
  @apply text-inherit no-underline;
}

.slide-fade-move,
.slide-fade-enter-active,
.slide-fade-leave-active {
  @apply transition-all duration-100;
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}

.slide-fade-enter-from {
  opacity: 0;
}

.slide-fade-leave-to {
  opacity: 0;
}

.slide-fade-leave-active {
  @apply absolute;
}

// workaround for css in nuxt-picture tag not working in scoped mode
.project--icon>* {
  @apply rounded-lg m-auto;
}
