html {
  @apply bg-gray-900 transition text-gray-100 duration-200 scroll-smooth;
}

::selection {
  @apply bg-villa-green-600 text-gray-100;
}

a {
  @apply text-inherit no-underline;
}

.slide-fade-move,
.slide-fade-enter-active,
.slide-fade-leave-active {
  @apply transition-all duration-100;
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}

.bg {
  .bg__blobs {
    @apply filter blur-[84px];
    .blobs__blob {
      @apply duration-800 transition-all ease-out transform-gpu transform-origin-center;
      &.blobs__blob1 {
        animation: colorful__blob 12s infinite cubic-bezier(0.65,-0.67,0.24,1.63);
      }
      &.blobs__blob2 {
        animation: colorful__blob 16s infinite cubic-bezier(0.65,-0.67,0.24,1.63);
      }
      &.blobs__blob3 {
        @apply opacity-40;
        animation: colorful__blob 26s infinite cubic-bezier(0.65,-0.67,0.24,1.63);
      }
    }
  }
  &--compact {
    .bg__blobs .blobs__blob {
      &.blobs__blob1 {
        animation-play-state: paused;
        @apply -translate-y-40;
      }
      &.blobs__blob2 {
        animation-play-state: paused;
        @apply -translate-y-50;
      }
      &.blobs__blob3 {
        animation-play-state: paused;
        @apply translate-y-60;
      }
    }
  }

  // TODO: transitions don't work if UnoCSS transform classes are used.
  @keyframes colorful__blob {
    0%   { @apply fill-sky-600/10; transform: scale(1) translateY(0%); }
    25%   { @apply fill-villa-green-600/20; transform: scale(0.8) translateY(-9%); }
    50%   { @apply fill-cyan-600/15; transform: scale(1.1) translateY(-6%); }
    100%   { @apply fill-sky-600/10; transform: scale(1) translateY(0%); }
  }
}

.slide-fade-enter-from {
  opacity: 0;
}

.slide-fade-leave-to {
  opacity: 0;
}

.slide-fade-leave-active {
  @apply absolute;
}

// workaround for css in nuxt-picture tag not working in scoped mode
.project--icon>* {
  @apply rounded-lg m-auto;
}
